*
!.gitignore
!*/

# Data files
data/

#java
!*.java

#C
!*.c
!*.h

#make
!Makefile
!makefile
!makeFile
!MakeFile

#web
!*.html
!*.php
!*.js

#C++
!*.cpp
!*.hpp

#Python
!*.py

#Haskell
!*.hs
!*.cabal

#Go
!*.go

#MATLAB
!*.mlx
!*.m

#Unix Shell
!*.sh

#LaTeX
!*.tex
!*.cls
!*.bib

#Gradle
!*.gradle

#DataFormats
!*.xml
!*.png
!*.bmp
!*.jpg
#!*.txt
!*.csv
!*.yml

#README
!*.md

#CLion and IntelliJ
.idea
cmake-build-debug

#VSCode
.vscode/

#Eclipse
/bin/
/build/
bin/
build/
.build
run
.settings

#Python Interpreter
/__pycache__/
__pycache__/

out/

#mac
.DS_Store
._.DS_Store

#jupyter
!*.pynb
.ipynb_checkpoints/
/.ipynb_checkpoints/

report/report\.run\.xml
